fastapi==0.115.6
uvicorn[standard]==0.32.1
python-multipart==0.0.12
pymongo==4.9.0
motor==3.6.0
python-jose[cryptography]==3.3.0
PyJWT==2.10.1
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
bcrypt==4.2.1
google-auth==2.36.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.156.0
stripe==12.3.0
httpx==0.28.1
requests==2.32.3
pydantic==2.10.3
pydantic-settings==2.6.1
cryptography>=43.0.0
boto3==1.35.80
botocore==1.35.80
pandas==2.2.3
aiosmtplib==3.0.2
APScheduler==3.11.0
